# ignore all .DS_Store
.DS_Store
# ignore all node_modules folder
node_modules/
# ignore all package-lock.json
package-lock.json
# ignore /build folders and assets
frontend/public/build
backend/public/build
backend/public/favicon.png
backend/public/global.css
backend/public/index.html
